:root {
    // body
    --bodyColorLight: #ff0000;
    --bodyColorDark: #000000;
    --bodyColor: var(--bodyColorLight);

    // header
    --headerColorLight: #a4dcef;
    --headerColorDark: #333333;
    --headerColor: var(--headerColorLight);

    // lineColor
    --lineColor: #cccccc;

    // linkColor
    --linkColorLight: #4d4d4d;
    --linkColorDark: #b3b3b3;
    --linkColor: var(--linkColorLight);
    --linkHoverColorLight: #000000;
    --linkHoverColorDark: #ffffff;
    --linkHoverColor: var(--linkHoverColorLight);

    // darkButton
    --darkButtonColorLight: #e4e4e4;
    --darkButtonColorDark: #131313;
    --darkButtonColor: var(--darkButtonColorLight);
    --darkButtonIconColorLight: #ffffff;
    --darkButtonIconColorDark: #888888;
    --darkButtonIconColor: var(--darkButtonIconColorLight);

    // SearchButton
    --searchButtonColorLight: #51a1b4;
    --searchButtonColorDark: #5c5c5c;
    --searchButtonColor: var(--searchButtonColorLight);
}

html[dark='true']:root {
    --bodyColor: var(--bodyColorDark);
    --headerColor: var(--headerColorDark);
    --darkButtonColor: var(--darkButtonColorDark);
    --darkButtonIconColor: var(--darkButtonIconColorDark);
    --searchButtonColor: var(--searchButtonColorDark);
    --linkColor: var(--linkColorDark);
    --linkHoverColor: var(--linkHoverColorDark);
}

html[dark='false']:root {
    --bodyColor: var(--bodyColorLight);
    --headerColor: var(--headerColorLight);
    --darkButtonColor: var(--darkButtonColorLight);
    --darkButtonIconColor: var(--darkButtonIconColorLight);
    --searchButtonColor: var(--searchButtonColorLight);
    --linkColor: var(--linkColorLight);
    --linkHoverColor: var(--linkHoverColorLight);
}
