@mixin flex(
    $display: flex,
    $justifyContent: flex-start,
    $alignItems: flex-start,
    $flexDirection: row,
    $flexWrap: nowrap
) {
    display: $display;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $flexDirection;
    flex-wrap: $flexWrap;
}

@mixin position(
    $position: relative,
    $top: unset,
    $left: unset,
    $right: unset,
    $bottom: unset,
    $translateX: 0,
    $translateY: 0,
    $zIndex: 1
) {
    position: $position;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    transform: translate($translateX, $translateY);
    z-index: $zIndex;
}

@mixin pseudoBefore($content: "") {
    
    &::before {
        content: $content;
        position: absolute;
        @content;
    }
}

@mixin pseudoAfter($content: "") {
    
    &::after {
        content: $content;
        position: absolute;
        @content;
    }
}

@mixin transition(
    $time: 0.5s,
    $delay: 0s,
    $timingFunction: ease-in-out
) {
    transition: all $time;
    transition-delay: $delay;
    transition-timing-function: $timingFunction;
}

.shadowInset {
    box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.3) inset;
}
